<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>


	
<!-- 	  <bean name="webContextFilter" id="webContextFilter" -->
<!--          class="com.jpmorgan.iscpp.eodservice.mvc.WebContextFilter"/> -->
         
         
	
</beans>
